<div class="size ">
    <div class="row">
        <div class="col-md-12">
            <h5>Add Site</h5>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class = "col">
            <p>Site Name</p>
            <input value = "Honeywell Shanghai Campus " style = "width: 100%;"/>
        </div>
        <div class = "col">
            <p>Referrence Number</p>
            <input value = "4563ER2345" style = "width: 100%"/>
        </div> 
    </div>
    <br>
    <div class="row">
        <div class="col">
            <p>Site Type</p>
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <input type = "radio"/><span class = "space">Fire</span>
        </div>
        <div class="col">
            <input type = "radio"/><span class = "space">PAVA</span>
        </div>
        <div class="col">
            <input type = "radio"/><span class = "space">Fire+PAVA</span>
        </div>
        <div class="col">
        </div>
    </div>
   
    <div class = "row mt-4">
        <div class = "col-md-9">
            <p style = "color:black;">More Details</p>
        </div>
        <div class = "col-md-3">
            <p style = "color:blue;">View More</p>
        </div>  
    </div>
    <div><hr class = "style1"></div>
    <div class = "row mt-5">
        <div class = "col-md-8">
            <button class= "btn btn-primary " style = "background-color: white;color: gray;border-color: gray;">Import From File</button>
        </div>
        <div class = "col-md-2">
            <button class= "btn btn-primary" (click) = "cancel()"style = "background-color: white;color: blue;">Cancel</button>
        </div>
        <div class = "col-md-2">
            <button class= "btn btn-primary">Create</button>
        </div>
    </div>
</div>
